/* GRID Profile */
.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.table-dark {
  padding: 8px;
}

.table-info {
  padding: 8px;
}

.table-secondary {
  padding: 8px;
}

.td {
  padding: 8px;
}

.button {
  background-color: red;
  padding: 10px;
  width: 78px;
}

.button1 {
  background-color: green;
  padding: 8px

}
div.profile {
  width: 100px;
  float: right;
  height: 57px;
  background: url("/uploads/upload2.jpeg");
  background-size: cover;
  overflow: hidden;
}

div.profile input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  }